._basic-width {
    margin-left: auto;
    margin-right: auto;
    width: $width;

    @media only screen and (max-width: $break-phone) {
        width: calc(100% - 40px);
        padding-top: 80px;              // EDIT
    }
}