.page-template-page-home .header-columns {
    display: none !important;
}

.page-template-page-home {
    background: rgb(17, 17, 17) !important;
}



.homepage {

    .desktop {
        margin-top: 15px;
        margin-right: 20px;
        margin-left: 20px;
        margin-bottom: 20px;
        height: 100vh;

        .desktop-title {

            height: 40vh;

            .title {
                @extend ._h0;
                color: white;
                // width: 100vw;

                font-family: 'Futura Md BT'; 
                font-size: 60px;
                letter-spacing: 0.02em;
                color: $dark-grey;
                line-height: 1em;

                @media only screen and (max-width: $break-phone) {
                    // display: none;
                    font-size: 32px !important;
                }
            }

            .title-inside {
                width: fit-content;
                overflow: hidden;

                &:hover {
                    color: $red;
                    transition: 0.2s ease;
                }

                // #spianata-symbol img {
                //     @media only screen and (max-width: $break-phone) {
                //         height: 50% !important;
                //         width: 50% !important;
                //     }
                // }

            }

            @media only screen and (max-width: $break-phone) {
                height: 20% !important;
            }

        }

        .homepage-image {
            display: none;
            height: 50vh;
            margin: 35px 0 !important;
        }

        .homepage-video {
            // display: none;
            height: 50vh;
            margin: 35px 0 !important;

            .home-video {
                position: absolute; 
                right: 0; 
                bottom: 0;
                // min-width: 100%; 
                // min-height: 100%;
                width: 100%; 
                height: auto; 
                z-index: -100;
                background-size: cover;
                overflow: hidden;
            }
        }

        // .homepage-image-mobile {
        //     display: none;
        //     height: 80%;
        //     margin: 20px 0 !important;
            
        //     @media only screen and (max-width: $break-phone) {
        //         display: block !important;
        //     }
        // }

        // .move-left .inner {
        //     position: relative;
        //     left: -97%;
        // }

        // .move-right .inner {
        //     position: relative;
        //     left: 97%;
        // }

        @media only screen and (max-width: $break-phone) {
            display: none;
        }
    }


    .mobile {
        display: none;

        @media only screen and (max-width: $break-phone) {
            display: block;
            font-size: 32px;
            margin: 20px;
            height: 100vh;

            .homepage-image-mobile {
                display: block;
                height: 80%;
                margin: 20px 0 !important;
            }
        }

        img {
            width: 50%;
            height: auto;
        }
    }

    @media only screen and (max-width: $break-phone) {
        // margin-top: 75px !important;
    }

}

.homepage-footer {
    display: none !important;
    color: white !important;
    display: flex;
    position: fixed;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    bottom: 0%;
    width: 100%;
    justify-content: flex-start;

    .menu {
        display: flex;

        li {
            padding-right: 15px;
        }
    }

    @media only screen and (max-width: $break-phone) {
        display: none;
    }
}

.page-template-page-home .menu a {
    color: white;
}