.page-template-page-home .header-columns {
    display: none !important;
}

.page-template-page-home {
    background: rgb(17, 17, 17) !important;
}



.homepage {

    #homepage-image {
        display: none;
        // width: 100vw;
        height: 55vh;
        // border: 1px solid white;
        margin: 0 20px;
    }


    .desktop {
        margin-top: 15px;
        margin-right: 20px;
        margin-left: 20px;
        margin-bottom: 20px;
        height: 30vh;

        .title {
            @extend ._h0;
            color: white;
            // width: 100vw;

            font-family: 'Futura Md BT'; 
            font-size: 60px;
            letter-spacing: 0.02em;
            color: $dark-grey;
            line-height: 1em;
        }

        .title-inside {
            width: fit-content;
            overflow: hidden;

            &:hover {
                color: $red;
                transition: 0.2s ease;
            }
        }

        // .move-left .inner {
        //     position: relative;
        //     left: -97%;
        // }

        // .move-right .inner {
        //     position: relative;
        //     left: 97%;
        // }

        @media only screen and (max-width: $break-phone) {
            display: none;
        }
    }


    .mobile {
        display: none;

        @media only screen and (max-width: $break-phone) {
            display: block;
        }

        img {
            width: 100%;
            height: auto;
        }
    }





}

.homepage-footer {
    color: white !important;
    display: flex;
    position: fixed;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    bottom: 0%;
    width: 100%;
    justify-content: flex-start;

    .menu {
        display: flex;

        li {
            padding-right: 15px;
        }
    }

    @media only screen and (max-width: $break-phone) {
        display: none;
    }
}

.page-template-page-home .menu a {
    color: white;
}