$width: 550px;
$distance-bottom: 150px;

$f-padding: 10px;            // EDIT (7px)
$s-padding: 10px;
$m-padding: 20px;
$b-padding: 60px;
$u-padding: 80px;

$white: #ffffff;
$dark-grey: #777777;
$postcode-grey: #aaaaaa;       // EDIT
$light-grey: #efefef;   // EDIT
$black: #111111;    
$red: #e8361b;
$grey: #aaaaaa;     // EDIT

$break-phone: 600px;
$break-ipad: 1000px;
$break-super-big: 1300px;

