.woocommerce-page {
    .woocommerce {
        @extend ._basic-width;
        padding-bottom: 300px;

        div {
            padding-bottom: 50px;
        }
    }
}


// EDITS

.woocommerce-MyAccount-navigation-link--downloads {
    display: none;
}

.woocommerce-info {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 2;
    grid-auto-flow: dense;
}

address {
    color: $black;
}

.flex-text {
    margin-left: auto;
    margin-right: auto;
    width: 550px;

    @media only screen and (max-width: $break-phone) {
        // width: fit-content !important;
    }
}

.form-row {
    display: grid;
}

.woocommerce-form-login__submit {
    text-align: left !important;
}

.woocommerce-message {
    display: none !important;
}

.shop-footer p {
    margin: 20px !important;
}